body {
    text-align: center;
    background-color: #F9D977;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5em;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

p {
  font-size: 2em;
}

#button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
}

#button:hover {
  background-color: #006789;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #F9D977;
  margin: 9% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 100vw; /* Could be more or less, depending on screen size */
  height: 100%;
  border-radius: 25px;
}
